<nav class="bg-gray-800">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a class="text-white font-bold text-lg" routerLink="/">Book Seats</a>
            </div>
            <div class="flex items-center">
                <!-- <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md" routerLink="/">Home</a>
                <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md" routerLink="/about">About</a> -->
                <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md cursor-pointer" target="_blank"
                    href="https://github.com/shubham0809200/unstop-railway-booking">Github Link</a>
            </div>
        </div>
    </div>
</nav>


<app-train />